<template>
  <div>
    <select v-on:change="companySelected" ref="CompanySelector">
        <option value="0">Choose a company/system</option>
        <optgroup label="Tabuk">
            <option value="1">Tabuk (ALL)</option>
        </optgroup>
        <optgroup label="Chiesi">
            <option value="2">Chiesi (ALL)</option>
        </optgroup>
        <optgroup label="Dermazone">
            <option value="3">Dermazone (KSA)</option>
            <option value="4" disabled>Dermazone (UAE)</option>
        </optgroup>
    </select>
    {{ message }}
  </div>
</template>

<script>
    export default {
        props: ['message'],
        methods: {
            companySelected: function () {
                this.$emit('company-selected', this.$refs.CompanySelector.value)
            }
        },
        mounted() {
            //Do something
        }
    }
</script>
